In [2]:
import pandas as pd
import random

In [3]:
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  robot
2  human
3  human
4  robot

Создаем список со значениями стотлбцов, по сути берем просто уникальные значения через множество

In [29]:
val = set(data['whoAmI'])
val = list(val)
print(val)

['robot', 'human']

Проходимся по столбцу и просто смотрим, совпадает или не совпадает с необходимым значением. Если да, то записываем 1, если нет, то 0

In [20]:
robot = []
human = []
stolb = data['whoAmI'].values
for i in range(len(stolb)):
    if stolb[i] == 'robot':
        robot.append(1)
        human.append(0)
       
    else:
        robot.append(0)
        human.append(1)

Определяем, какой элемент списка с названием стобцов подходит под необходимые списки с 1 и 0, полученные до этого. Создаем и выводим таблицу

In [28]:
if val[0] == 'robot':
    robot_name = val[0]
    human_name = val[1]
else:
    robot_name = val[1]
    human_name = val[0]

new_data = {robot_name: robot, human_name: human}
new_frame = pd.DataFrame(new_data)
new_frame.head()

   robot  human
0      1      0
1      1      0
2      0      1
3      0      1
4      1      0